@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/">
</head>
<body class="login_body">

    <div class="login-container">
        <h2>Satıcı Girişi</h2>
        <form id="login-form">
            <div class="form-group">
                <label for="username">Kullanıcı Adı:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Şifre:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" id="login-btn">Giriş Yap</button>
            <p id="error-message" class="error-message"></p>
        </form>
        <div><a href="/frontend_/user_login.html" class="forgot_password_class">Kullanıcı Girişi</a></div>
        <a href="/sifremi-unuttum" class="forgot-password-link">Şifremi Unuttum</a>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>

