<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body class="login_body">

    <div class="login-container">
        <h2>Kullanıcı Girişi</h2>
        <form id="login-form">
            <div class="form-group">
                <label for="username">Kullanıcı Adı:</label>
                <input type="text" id="username" name="username" placeholder="Kullanıcı adınız" required>
            </div>
            <div class="form-group">
                <label for="password">Şifre:</label>
                <input type="password" id="password" name="password" placeholder="Şifreniz" required>
            </div>

            <button id="login-button" type="submit">Giriş Yap</button>

            <div><a href="/frontend_/admin_login.html" class="forgot_password_class">Satıcı Girişi</a></div>
            <div><a href="/forgot_password" class="forgot_password_class">Şifremi Unuttum</a></div>
            <p id="error-message" class="error-message"></p>
        </form>
    </div>
    <script>
        document.getElementById('login-form').addEventListener('submit', async function (e) {
            e.preventDefault(); // Formun varsayılan gönderme işlemini engeller

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('https://localhost:5001/api/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        username: username,
                        password: password
                    })
                });

                if (response.ok) {
                    const data = await response.json();

                    // Eğer başarılıysa JWT token'ı alır ve localStorage'a kaydeder
                    localStorage.setItem('token', data.token);

                    // Başarılı giriş sonrası yönlendirme yapılabilir (örneğin ana sayfa)
                    window.location.href = '/homepage'; // Ana sayfa veya yönlendirilmek istenilen sayfa
                } else {
                    // Eğer giriş başarısızsa bir hata mesajı gösterir
                    const errorMessage = await response.text();
                    document.getElementById('error-message').innerText = 'Giriş başarısız: ' + errorMessage;
                }
            } catch (error) {
                console.error('Hata:', error);
                document.getElementById('error-message').innerText = 'Bir hata oluştu. Lütfen tekrar deneyin.';
            }
        });
    </script>


    <script src="script.js"></script>
</body>
</html>
